@import 'tailwindcss';

@theme {
  /* Status colors */
  --color-status-operational: var(--background);
  --color-status-degraded: var(--secondary);
  --color-status-partial: var(--primary);

  /* Branding Colors */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  /* Neutral Colors */
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-background: var(--background);
  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

:root {
  --background: hsla(0, 0%, 100%, 1);
  --foreground: hsla(0, 0%, 7%, 1);
  --muted-foreground: hsla(0, 0%, 50%, 1);
  --muted: hsla(0, 0%, 98%, 1);
  --card: hsla(0, 0%, 98%, 1);
  --primary: hsla(108, 87.4%, 46.9%, 1);
  --secondary: hsla(24, 94%, 53%, 1);
  --border: hsla(0, 0%, 98%, 1);
}

.dark {
  --background: hsla(0, 0%, 7%, 1);
  --foreground: hsla(0, 0%, 100%, 1);
  --muted: hsla(0, 0%, 20%, 1);
  --muted-foreground: hsla(0, 0%, 50%, 1);
  --card: hsla(0, 0%, 20%, 1);
  --primary: hsl(246, 100%, 67%);
  --secondary: hsla(0, 0%, 31%, 1);
  --border: hsla(0, 0%, 37%, 1);
}

@layer components {
  .btn-global {
    @apply bg-primary/60 hover:bg-primary text-background hover:text-background/80 focus:ring-primary/50 flex w-full cursor-pointer flex-row items-center justify-center px-4 py-3 transition-colors duration-200 focus:ring-2 focus:outline-none;
  }

  .btn-primary {
    @apply text-foreground bg-primary hover:bg-primary/80 focus:ring-primary/50 flex max-h-10 cursor-pointer flex-row items-center justify-center gap-2 px-4 py-3.5 text-sm transition-colors duration-200 focus:ring-2 focus:outline-none;
  }

  .btn-destructive {
    @apply text-foreground bg-primary flex max-h-10 cursor-pointer flex-row items-center justify-center gap-2 px-4 py-3.5 text-sm transition-colors duration-200 hover:bg-red-500/80 focus:ring-2 focus:ring-red-600/50 focus:outline-none;
  }

  .btn-outline {
    @apply text-foreground border-primary hover:bg-primary/10 focus:ring-primary/50 flex max-h-10 cursor-pointer flex-row items-center justify-center gap-2 border p-4 text-sm transition-colors duration-200 focus:ring-2 focus:outline-none;
  }

  .btn-secondary {
    @apply text-foreground bg-secondary hover:bg-secondary/80 focus:ring-secondary/50 flex max-h-10 cursor-pointer flex-row items-center justify-center gap-2 p-4 text-sm transition-colors duration-200 focus:ring-2 focus:outline-none;
  }
  .statusBadge {
    @apply bg-card text-foreground mb-2 inline-flex items-center p-1 px-2 py-1 text-xs font-medium;
  }
}

@layer utilities {
  .bg-grid-pattern {
    background-image:
      linear-gradient(to right, currentColor 1px, transparent 1px),
      linear-gradient(to bottom, currentColor 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  #app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  input {
    @apply border-border hover:bg-muted/20 focus:bg-muted/75 focus:ring-primary w-full border p-4 text-sm focus:ring-2 focus:outline-none;
  }

  select {
    @apply appearance-none border border-border bg-card hover:bg-muted/80 focus:bg-muted/75 focus:ring-primary w-full p-4 text-sm focus:ring-2 focus:outline-none;
  }
}

a {
  @apply text-primary transition-colors duration-200 hover:opacity-50;
  text-decoration: none;
}
